# Question 1

In [42]:
import pandas as pd
import numpy as np
from scipy.stats import ttest_ind

In [2]:
df=pd.read_csv("S:\Assignment\Hypothesis testing ass 2\Cutlets.csv")
df.head()

   Unit A  Unit B
0  6.8090  6.7703
1  6.4376  7.5093
2  6.9157  6.7300
3  7.3012  6.7878
4  7.4488  7.1522

In [3]:
X=df.drop('Unit B',axis=1)
y=df['Unit B']

In [4]:
# Perform the t-test assuming equal variances
t_stat, p_value = ttest_ind(X,y)
alpha=0.5 # Significance level

In [5]:
# Compare p-value to the significance level
if p_value < alpha:
    print("Reject null hypothesis: There is a significant difference in the mean diameter of cutlets between the two units.")
else:
    print("Cannot reject null hypothesis: There is no significant difference in the mean diameter of cutlets between the two units.")

Reject null hypothesis: There is a significant difference in the mean diameter of cutlets between the two units.

# Question 2

In [6]:
df=pd.read_csv("S:\Assignment\Hypothesis testing ass 2\LabTAT.csv")
df.head()

   Laboratory 1  Laboratory 2  Laboratory 3  Laboratory 4
0        185.35        165.53        176.70        166.13
1        170.49        185.91        198.45        160.79
2        192.77        194.92        201.23        185.18
3        177.33        183.00        199.61        176.42
4        193.41        169.57        204.63        152.60

In [7]:
lab_1=df['Laboratory 1']
lab_2=df['Laboratory 2']
lab_3=df['Laboratory 3']
lab_4=df['Laboratory 4']

# Perform ANOVA test

In [8]:
from scipy.stats import f_oneway
f_stat, p_value = f_oneway(lab_1, lab_2, lab_3, lab_4)
alpha = 0.05  # Significance level

In [9]:
# Compare p-value to the significance level
if p_value < alpha:
    print("Reject null hypothesis: There is a significant difference in average TAT among the laboratories.")
else:
    print("Cannot reject null hypothesis: There is no significant difference in average TAT among the laboratories.")

Reject null hypothesis: There is a significant difference in average TAT among the laboratories.

# Question 3

In [10]:
direction={'Male':pd.Series([50,142,131,70],
                           index=['East','West','North','South']),
            'Female':pd.Series([550,351,480,350],
                               index=['East','West','North','South'])}
df=pd.DataFrame(direction)
df

       Male  Female
East     50     550
West    142     351
North   131     480
South    70     350

In [11]:
Males=df.iloc[0:,0]

In [12]:
Females=df.iloc[0:,1]

## To test whether the male-female buyer ratios are similar across different regions, we can use a chi-square test of independence. This test evaluates whether there is a significant association between two categorical variables

In [13]:
from scipy.stats import chi2_contingency

In [14]:
data=[Males,Females]
data

[East      50
 West     142
 North    131
 South     70
 Name: Male, dtype: int64,
 East     550
 West     351
 North    480
 South    350
 Name: Female, dtype: int64]

In [15]:
# Perform chi-square test of independence
chi2_stat, p_value, dof, expected = chi2_contingency(data)
alpha = 0.05  # Significance level

In [16]:
p_value

2.682172557281901e-17

In [17]:
# Compare p-value to the significance level
if p_value < alpha:
    print("Reject null hypothesis: Ho")
else:
    print("Cannot reject null hypothesis: Ha")

Reject null hypothesis: Ho

* If the p-value is less than the chosen significance level 0.05, it suggests that there is a significant association between gender and region, indicating that the male-female buyer ratios vary significantly across the regions

In [18]:
chi2_stat

80.27295426602495

# Question 4

In [19]:
df=pd.read_csv("S:\Assignment\Hypothesis testing ass 2\Costomer+OrderForm.csv")
df.head()

  Phillippines   Indonesia       Malta       India
0   Error Free  Error Free   Defective  Error Free
1   Error Free  Error Free  Error Free   Defective
2   Error Free   Defective   Defective  Error Free
3   Error Free  Error Free  Error Free  Error Free
4   Error Free  Error Free   Defective  Error Free

In [20]:
col=['Phillippines','Indonesia','Malta','India']
for i in col:
    print(df[i].value_counts())

Error Free    271
Defective      29
Name: Phillippines, dtype: int64
Error Free    267
Defective      33
Name: Indonesia, dtype: int64
Error Free    269
Defective      31
Name: Malta, dtype: int64
Error Free    280
Defective      20
Name: India, dtype: int64

In [60]:
Error_Free=[271,267,269,280]
OrignL_Defective=[29,33,31,20]
# Adding two list
Total_order_array=np.array(Error_Free)+np.array(OrignL_Defective)
Total_orders=Total_order_array.tolist()

In [61]:
Total_orders

[300, 300, 300, 300]

In [46]:
# Calculate the totals
overall_defective_rate = sum(OrignL_Defective) / sum(Total_orders)
overall_defective_rate

0.09416666666666666

* 9% Defective Rate

In [25]:
from scipy.stats import chi2_contingency

In [88]:
# Calculate expected defective counts based on overall defective rate
for form in Total_orders:
        print(overall_defective_rate * forms)

28.25
28.25
28.25
28.25

In [89]:
expected_defective=[]
for form in Total_orders:
        overall_defective_rate * forms
        expected_defective.append(overall_defective_rate * forms)

In [90]:
expected_defective

[28.25, 28.25, 28.25, 28.25]

#### Analysis
* As Shown expected_defective is same for all centers
* We confirm this by using chi-squared test

In [92]:
# Perform chi-squared test for goodness of fit
chi2, p = chi2_contingency([OrignL_Defective, expected_defective])[:2]

In [94]:
# Degrees of freedom for goodness of fit test
degrees_of_freedom = len(OrignL_Defective) - 1

In [97]:
# Critical value at 5% significance level
# The critical value for a chi-squared test is determined based on the significance level (alpha) and the degrees of freedom.
critical_value = 7.815

In [98]:
# Print results
print('Chi-squared :' ,chi2)
print('Degrees of Freedom:', degrees_of_freedom)
print('Critical Value:',critical_value)

Chi-squared : 1.9164515669094113
Degrees of Freedom: 3
Critical Value: 7.815

In [99]:
# Compare chi-squared value with critical value
if chi2 > critical_value:
    print("There is a significant difference in defective percentages across the centers.")
else:
    print("There is no significant difference in defective percentages across the centers.")

There is no significant difference in defective percentages across the centers.